@charset "UTF-8";

body.member #header {
	display: none;
}

body.member #container{
	padding: 0;
}

body.member #addAdmin_area{
	display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f4f4f9;
    align-items: center;
}

body.member #insert_manager_box{
	display: flex;
	flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
	width: 380px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

body.member h3 {
	padding-bottom: 20px;
	text-align: center;
	color: #0056b3;
}

body.member #insert_manager_box form{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body.member #id_box, #pw_box, #name_box {
	display: flex;
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
}

body.member #level_set {
	display: flex;
    width: 50%;
    height: 45px;
}

body.member #id_input, #pw_input, #name_input {
	border-radius: 8px;
	width: 100%;
    height: 100%;
}

body.member #id, #pw, #name, #level {
	border-radius: 8px;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

body.member #id:focus, #pw:focus, #name:focus, #level:focus {
    border-color: #0056b3;
    outline: none;
}

body.member #ID_text {
	margin-right: 29px;
}

body.member #PW_text {
	margin-right: 21px;
}

body.member #ID_text, #PW_text, #NAME_text, #LEVEL_text {
	padding-top:10px;
}

body.member #level_select {
	width: 100px;
	height: 100%;
}

body.member #level {
	text-align: center;
	background-color: #f9f9f9;
}

body.member #ID_text, #PW_text, #NAME_text, #LEVEL_text label {
	font-size: 14px;
    font-weight: 500;
	color: #555;
}

body.member #level_btn_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body.member button {
	font-size: 14px;
    font-weight: 500;
	color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	width: 50px;
	background-color: #0056b3;
}

body.member #submitbtn {
	margin-right: 5px;
}

body.member #btn_box button {
    transition: color 0.3s, border 0.3s;
}

body.member #btn_box button:hover {
	background-color: #004080;
	color: #ddd;
}

body.member #access_box {
	display: flex;
	align-items: center;
}

body.member #access_select label{
	font-size: 13px;
    font-weight: 500;
    color: #555;
}

body.member #access_box p{
	font-size: 14px;
    font-weight: 500;
    color: #555;
}

body.member #access_select input{
	display: flex;
	flex-direction: column;
	align-items: center;
}