@charset "UTF-8";

body.member #header {
	display: none;
}

body.member #container{
	padding: 0;
}

body.member #addAdmin_area{
	display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #474747;
}

body.member #insert_manager_box{
	display: flex;
    justify-content: center;
    background-color: #a6a6a6;
	width: 770px;
    margin: auto;
}

body.member #insert_manager_box form{
	padding: 52px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body.member #id_box, #pw_box, #name_box {
	display: flex;
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
}

body.member #level_set {
	display: flex;
    width: 50%;
    height: 45px;
}

body.member #id_input, #pw_input, #name_input {
	width: 100%;
    height: 100%;
}

body.member #id, #pw, #name, #level {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	background-color: #ddd;
}

body.member #ID_text {
	margin-right: 29px;
}

body.member #PW_text {
	margin-right: 21px;
}

body.member #ID_text, #PW_text, #NAME_text, #LEVEL_text {
	padding-top:10px;
}

body.member #level_select {
	width: 200px;
	height: 100%;
}

body.member #level {
	text-align: center;
	background-color: #ddd;
}

body.member #ID_text, #PW_text, #NAME_text, #LEVEL_text label {
	color: #ddd;
}

body.member button {
	color: #ddd;
}

body.member #submitbtn {
	margin-right: 40px;
}

body.member #btn_box button:hover {
	color: #474747;
}