@charset "UTF-8";

body.admin #content{width:85%; margin-left:15%;}

body.admin #manageAccount_area {
    width: 100%;
}
body.admin #account_box {
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

body.admin h3 {
    color: #0056b3;
    text-align: center;
    font-size: 17px;
}

body.admin #account_box form {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body.admin #list_box {
    margin-bottom: 30px;
}

body.admin #adminList {
    list-style: none;
    padding-left: 0;
}

body.admin ul.table li {
    font-size: 14px;
    color: #555;
    width:100%;
}

body.admin ul.table li ul{width:100%}

body.admin ul.table li ul li input{margin:0;}

body.admin ul.table li ul li:first-child{width:15%;}

body.admin .admin-checkbox {
    margin-right: 10px;
}

body.admin #pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

body.admin .page-link {
    font-size: 14px;
    color: #0056b3;
    text-decoration: none;
}

body.admin .page-link:hover {
    color: #004080;
}

body.admin #level_setting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

body.admin #set_level select {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    font-size: 14px;
    padding: 5px;
}

body.admin #set_access {
    display: flex;
}
body.admin #active_box{
	margin-right: 10px;
}
body.admin #active_box, #blocked_box {
    margin-bottom: 10px;
}

body.admin label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

body.admin input[type="radio"] {
    margin-right: 10px;
}

body.admin #set_btn {
    display: flex;
}

body.admin #set_btn button {
    width: 100px;
    height: 45px;
    background-color: #0056b3;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.admin #set_reset {
	margin-left: 20px;
}

body.admin #set_btn button:hover {
    background-color: #004080;
}

body.admin #set_reset {
    background-color: #f0f0f0;
    color: #333;
}

body.admin #set_reset:hover {
    background-color: #ddd;
}

body.admin #set_level select {
    text-align: center;
}

body.admin #set_access {
    display: flex;
    justify-content: center;
}