<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.MemberMapper">
  
  	<select id="login" resultType="org.zerock.dto.UserDTO">
		<!-- select 결과를 resultType="org.zerock.dto.MemberDTO" 으로 보낸다  -->
		<!-- ? 처리를 #{} 변경 -->
    	select * from users where id=#{id}
    	<!--  -->
	</select>
  
  	<insert id="join" parameterType="org.zerock.dto.UserDTO">
		insert into users (id, email, name, dob, pass, phone_number, provider ) 
		values(#{id}, #{email}, #{name}, #{dob}, #{pass}, #{phone_number}, "일반");
	</insert>
	
 	<select id="getUserById" parameterType="string" resultType="org.zerock.dto.UserDTO">
    	SELECT * FROM users WHERE id = #{id};
	</select>
	
	<select id="checkEmailDuplicate" parameterType="string" resultType="int">
    	SELECT COUNT(*) FROM users WHERE id = #{id};
	</select>
	
	<select id="findUserByGoogleId" resultType="org.zerock.dto.UserDTO">
    	SELECT * FROM users
    	WHERE id = #{id}
	</select>

	<!-- 새 사용자 등록 -->
	<insert id="insertUser">
    	INSERT INTO users (id, email, name , phone_number, provider )
    	VALUES (#{id}, #{email}, #{name}, #{phone_number}, "구글")
	</insert>
	
  </mapper>