<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.MemberMapper">
  
  	<insert id="join" parameterType="org.zerock.dto.UserDTO">
		insert into users (id,name,dob,pass) 
		values(#{id}, #{name}, #{dob}, #{pass});
	</insert>
	
 	<select id="getUserById" parameterType="string" resultType="org.zerock.dto.UserDTO">
    	SELECT * FROM users WHERE id = #{id};
	</select>
	
	<select id="checkEmailDuplicate" parameterType="string" resultType="int">
    	SELECT COUNT(*) FROM users WHERE id = #{id};
	</select>
	
	<select id="findUserByGoogleId" resultType="org.zerock.dto.UserDTO">
    	SELECT * FROM users
    	WHERE id = #{id}
	</select>

	<!-- 새 사용자 등록 -->
	<insert id="insertUser">
    	INSERT INTO users (id, name , phone_number )
    	VALUES (#{id}, #{name}, #{phone_number} )
	</insert>
	
  </mapper>