<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.WeatherApiMapper">
   	<!-- 데이터 삽입 -->
    <insert id="insertWeatherData" parameterType="org.zerock.dto.WeatherApiDTO">
        INSERT INTO weather_data (
            date, stn, ws, wr, wd, ws_max, ws_min, wd_max, ws_avg, ta_max, ta_min, ta_avg, td_avg,
            ts_avg, tg_avg, hm_avg, hm_min, hm_max, pv, ev_s, ev_l, fg, pa, ps, ca, ss, si, rn, sd, 
            te_max, te_min, te_avg
        ) VALUES (
            #{date}, #{stn}, #{ws}, #{wr}, #{wd}, #{wsMax}, #{wsMin}, #{wdMax}, #{wsAvg}, 
            #{taMax}, #{taMin}, #{taAvg}, #{tdAvg}, #{tsAvg}, #{tgAvg}, #{hmAvg}, #{hmMin}, 
            #{hmMax}, #{pv}, #{evS}, #{evL}, #{fg}, #{pa}, #{ps}, #{ca}, #{ss}, #{si}, #{rn}, #{sd},
            #{teMax}, #{teMin}, #{teAvg}
        )
    </insert>
</mapper>
